/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.DS_Store
.env
.env.local
.env.remoto
_thema
.vscode
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject/private/
composer.lock
package-lock.json
/sql-bkp
/reports/.settings
/reports/bin
/reports/.classpath
/reports/.project
/reports/DataAdapter.xml
.prettierignore
