

.carousel-multi {
    .carousel-inner {
        .carousel-item.active,
        .carousel-item-next,
        .carousel-item-prev {
            display: flex;
        }
    }

    &:not(.carousel-fade) {
        .carousel-inner {
            .carousel-item.active {
                >div {
                    visibility: visible;
                }
            }

            .carousel-item-prev,
            .carousel-item-right {
                >div {
                    visibility: visible;

                    &:first-child {
                        visibility: hidden;
                    }
                }
            }

            .carousel-item-next,
            .carousel-item-left {
                >div {
                    visibility: visible;

                    &:last-child {
                        visibility: hidden;
                    }
                }
            }

            .carousel-item-right,
            .carousel-item-left {
                /*visibility: visible;*/
                transform: translateX(0);
            }
        }

        &.carousel-multi-4 {
            .carousel-inner {
                .carousel-item-right.active,
                .carousel-item-next {
                    transform: translateX(25%);
                }

                .carousel-item-left.active,
                .carousel-item-prev {
                    transform: translateX(-25%);
                }
            }
        }

        &.carousel-multi-3 {
            .carousel-inner {
                .carousel-item-right.active,
                .carousel-item-next {
                    transform: translateX(33.33%);
                }

                .carousel-item-left.active,
                .carousel-item-prev {
                    transform: translateX(-33.33%);
                }
            }
        }

        &.carousel-multi-2 {
            .carousel-inner {
                .carousel-item-right.active,
                .carousel-item-next {
                    transform: translateX(50%);
                }

                .carousel-item-left.active,
                .carousel-item-prev {
                    transform: translateX(-50%);
                }
            }
        }
    }
}

/*original*/

.carousel-multi {
    .carousel-inner {
        .carousel-item.active,
        .carousel-item-next,
        .carousel-item-prev {
            display: flex;
        }

        .carousel-item-right.active,
        .carousel-item-next {
            transform: translateX(25%);
        }

        .carousel-item-left.active,
        .carousel-item-prev {
            transform: translateX(-25%);
        }

        .carousel-item-right,
        .carousel-item-left{ 
            transform: translateX(0);
        }
    }
}

