
.lg-backdrop {
    background: $lg-thumb-toggle-bg;
}

.lg-outer.fb-comments{
    .fb-comments {
        height: 100%;
        overflow-y: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 420px;
        z-index: 99999;
        /*background: #fff url("#{$lg-path-images}/loading.gif") no-repeat scroll center center;*/
        
        &.fb_iframe_widget {
            background-image: none;
            &.fb_iframe_widget_loader{
                /*background: #fff url("#{$lg-path-images}/loading.gif") no-repeat scroll center center;*/
            }
        }
    }

    .lg-img-wrap, .lg-video-cont {
        /*background: url("#{$lg-path-images}/loading.gif") no-repeat scroll transparent;*/
        background-position: center center;
        background-position: calc((100% - 400px) / 2) center;
    }
}

.lg-outer {
    .lg-item {
        /*background: url("#{$lg-path-images}/loading.gif") no-repeat scroll transparent;*/
        display: none !important;
    }
}
