.ui-datepicker {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
    word-wrap: break-word;
    background-color: $card-bg;
    background-clip: border-box;
    border: $card-border-width solid $card-border-color;
    box-shadow: $box-shadow !important;
    @include border-radius($card-border-radius);


    .ui-datepicker-header {
        padding: $card-spacer-y $card-spacer-x;
        margin-bottom: 0; // Removes the default margin-bottom of <hN>
        color: $card-cap-color;
        background-color: $card-cap-bg;
        border-bottom: $card-border-width solid $card-border-color;
    }
    .ui-datepicker-prev,
    .ui-datepicker-next {
        position:absolute;
        display: inline-block;
        font-family: $btn-font-family;
        font-weight: $btn-font-weight;
        cursor: pointer;
        /*color: $body-color;*/
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: transparent;
        border: $btn-border-width solid transparent;
        @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
        @include transition($btn-transition);

        /*        @include hover {
                    color: $body-color;
                    text-decoration: none;
                }*/

        &:focus,
            &.focus {
            outline: 0;
            box-shadow: $btn-focus-box-shadow;
        }

        // Disabled comes first so active can properly restyle
        &.disabled,
        &:disabled {
            opacity: $btn-disabled-opacity;
            @include box-shadow(none);
        }

        &:not(:disabled):not(.disabled):active,
            &:not(:disabled):not(.disabled).active {
            @include box-shadow($btn-active-box-shadow);

            &:focus {
                @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
            }
        }

        @include button-outline-variant($primary, $primary);
        & {
            border: none;
        }

    }

    .ui-datepicker-prev { left:1rem; }
    .ui-datepicker-next { right:1rem; }

    .ui-datepicker-prev span,
    .ui-datepicker-next span {
        display: none;
    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
    }

    .ui-datepicker-prev:before { content: fa-content($fa-var-chevron-left); }
    .ui-datepicker-next:before { content: fa-content($fa-var-chevron-right); }

    .ui-datepicker-title {
        /*margin: 0 2.3em;*/
        line-height: 1.8rem;
        text-align: center;
        font-weight: bold;

        select {
            /*font-size:1em;*/
            /*margin:1px 0;*/
        }
    }
    select.ui-datepicker-month-year {
        width: 100%;
    }
    select.ui-datepicker-month, select.ui-datepicker-year {
        width: 49%;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        padding: $card-spacer-x;
        /*color: $card-color;*/

        thead {
            tr {
                th {
                    padding: .5rem;
                    text-align: center;
                    font-weight: bold;
                    padding-top: 1rem;
                }
            }
        }
        tbody {
            tr {
                td:last-child {
                    padding-right: 1rem;
                }
                td:first-child {
                    padding-left: 1rem;
                }
            }
            tr:last-child {
                td {
                    padding-bottom: 1rem;
                }
            }
        }
    }
    .ui-datepicker-buttonpane {
        background-image: none;
        margin: .7em 0 0 0;
        padding:0 .2em;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        button {
            float: right;
            margin: .5em .2em .4em;
            cursor: pointer;
            padding: .2em .6em .3em .6em;
            width:auto;
            overflow:visible;
            .ui-datepicker-current {
                float:left;
            }
        }
    }
}
/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table {
    width:95%;
    margin:0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break {
    clear:both;
    width:100%;
    font-size:0em;
}

/* RTL support */
.ui-datepicker-rtl {
    direction: rtl;
    .ui-datepicker-prev {
        /*right: 2px;*/
        /*left: auto;*/
        &:hover {
            /*right: 1px;*/
            /*left: auto;*/
        }
    }
    .ui-datepicker-next {
        /*left: 2px;*/
        /*right: auto;*/
        &:hover {
            /*left: 1px;*/
            /*right: auto;*/
        }
    }
    .ui-datepicker-buttonpane {
        clear:right;
        button {
            float: left;
            .ui-datepicker-current {
                float:right;
            }
        }
    }
    .ui-datepicker-group {
        float:right;
    }
    .ui-datepicker-group-last .ui-datepicker-header {
        border-right-width:0;
        border-left-width:1px;
    }
    .ui-datepicker-group-middle .ui-datepicker-header {
        border-right-width:0;
        border-left-width:1px;
    }
}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    //display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}

.ui-datepicker-today {
    a{
        cursor: pointer;
        padding: 0 4px;
        margin-bottom:0px;
    }
}


.ui-datepicker td {

    .ui-state-default {
        display: block;
        width: 100%;
        font-family: $btn-font-family;
        font-weight: $btn-font-weight;
        /*        color: $body-color;*/
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: transparent;
        border: $btn-border-width solid transparent;
        @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
        @include transition($btn-transition);

        @include hover {
            color: $body-color;
            text-decoration: none;
        }

        &:focus,
            &.focus {
            outline: 0;
            box-shadow: $btn-focus-box-shadow;
        }

        // Disabled comes first so active can properly restyle
        &.disabled,
        &:disabled {
            opacity: $btn-disabled-opacity;
            @include box-shadow(none);
        }

        &:not(:disabled):not(.disabled):active,
            &:not(:disabled):not(.disabled).active {
            @include box-shadow($btn-active-box-shadow);

            &:focus {
                @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
            }
        }

        @include button-variant($light, $light);
    }

    .ui-state-highlight{
        color: color-yiq($light);
        @include gradient-bg($light);
        border-color: darken($primary, 10%);
    }

    .ui-state-active {
        color: color-yiq($secondary);
        @include gradient-bg($secondary);
        border-color: $secondary;
    }
    .ui-state-hover{
        &.ui-state-highlight {
            color: color-yiq(darken($light, 7.5%));
            @include gradient-bg(darken($light, 7.5%));
            border-color: darken(darken($primary, 10%), 10%);
        }

        &.ui-state-active {
            color: color-yiq(darken($secondary, 7.5%));
            @include gradient-bg(darken($secondary, 7.5%));
            border-color: darken($secondary, 10%);
        }

        &:not(.ui-state-active):not(.ui-state-highlight) {
            color: color-yiq(darken($light, 7.5%));
            @include gradient-bg(darken($light, 7.5%));
            border-color: darken($light, 10%);
        }
    }
}
